/*  charset ==================================================== */
@charset "utf-8";



/* =========================================================
format
========================================================== */
html {
  font-size: 62.5%;
}
body {
  color: #595757;
  font-size: 1.6rem;
  line-height: 1.5em;
  font-family: "Hiragino Sans W3", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-feature-settings: "palt";
  letter-spacing: 0.05em;
}
img{
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}
img[src$=".svg"] {
  width: 100%;
}
.pc { display: block; }
.sp { display: none; }

a{
  color:#595555;
}

@media screen and (max-width:1480px) {}

@media screen and (max-width:768px) {
body {
  font-size: 1.4rem;
}
.pc { display: none; }
.sp { display: block; }
}

/* box-sizing ---*/	
header, footer, section, div, h1, h2, h3, h4, h5, p, ul, ol, li, dl, dt, dd, th, td, a, span {
  box-sizing: border-box;
}



/* ---------------------------------------------------------------------------

common

--------------------------------------------------------------------------- */

.write{
  font-family: fot-klee-pro, sans-serif;
  font-weight: 500;
  font-style: normal;
}

.Page{
    overflow: hidden;
    opacity: 0;
    transition: 0.4s;
}
[data-loading="true"] .Page{
    opacity: 1;
}



/* ---------------------------------------------------------------------------

scroll pageTop

--------------------------------------------------------------------------- */
.page-top {
  position: fixed;
  right: 1%;
  font-size: 1.2rem;
  text-align: center;
  z-index: 9999;
  opacity: 0.95;
}
.page-top a {
  display: block;
  width: 100%;
  color: #FFF;
  line-height: 1.6rem;
  padding: 14px;
  background: #595757;
  border: 1px solid #595757;
  border-radius: 50%;
  box-sizing: border-box;
  transition: 0.4s;
  cursor: pointer;
}
.page-top a:hover {
  text-decoration: none;
  color: #595757;
  background: #FFF;
  border: 1px solid #595757;
  opacity: 1;
}



/* ---------------------------------------------------------------------------

.Main

--------------------------------------------------------------------------- */
.Main{
  height:640px;
  background: url(../img/img-main-pc.jpg) center left no-repeat;
  background-size: cover;
  position: relative;
}
.Main .logo{
  max-width: 180px;
  position: absolute;
  top:2%;
  left:2%;
  z-index: 999;
}
.Main .ttlWrap{
  width: 100%;
  max-width: 640px;
  padding:60px 0 80px;
  background: url(../img/img-main-letter.png) center top no-repeat;
  position: absolute;
  top:46%;
  left:50%;
  transform: translate(-50%,-100%);
  animation: slideIn 1.5s ease-in-out 1s forwards;
}

@keyframes slideIn {
0% {transform: translate(-50%,-100%);}
100% {transform: translate(-50%,-50%);}
}

.Main .ttlWrap::after{
  content:"";
  display: block;
  width: 203px;
  height:368px;
  background: url(../img/img-main-hand.png) left bottom no-repeat;
  background-size: contain;
  position: absolute;
  top:-300px;
  right:0;
  transform: translateX(50%);
}
.Main .ttlWrap .mainName{
  font-size: 2.2rem;
  text-align: center;
  position: relative;
}
.Main .ttlWrap .mainName::after{
  content:"";
  width: 100%;
  max-width: 80px;
  height:4px;
  background:url(../img/icon-main-name.svg) center center no-repeat;
  background-size: cover;
  margin:0 auto;
  display: block;
  position: absolute;
  bottom:-10px;
  left:50%;
  transform: translateX(-50%);
}
.Main .ttlWrap .mainTitle{
  width: 80%;
  margin:7% auto 0;
  position: relative;
}
.Main .ttlWrap .mainTitle::after{
  content:url(../img/icon-main-sp.svg);
  width: 50px;
  position: absolute;
  bottom:0;
  right: 0;
  transform: translate(105%,-5%);
}
.Main .pen{
  width: 200px;
  position: absolute;
  top:-10%;
  left:50%;
  transform: translateX(-240%);
}
.Main .envelope{
  width: 30%;
  position: absolute;
  bottom:-15%;
  right:-15%;
  transform: translateX(-15%);
}

.Column .Main{
  height:360px;
}
.Column .Main .ttlWrap{
  max-width: 360px;
  padding: 30px 0 40px;
  animation: none;
  transform: translate(-50%,-50%);
}
.Column .Main .ttlWrap::after{
  display: none;
}
.Column .Main .ttlWrap .mainTitle::after{
  width: 30px;
}
.Column .Main .envelope{
  width: 25%;
}



/* ---------------------------------------------------------------------------

.mainContent

--------------------------------------------------------------------------- */
.mainContent{
  padding:5% 0;
  padding-bottom:100px;
  background: url(../img/bg-content.jpg) bottom center no-repeat;
}
.mainContent .sheet{
  width: 90%;
  max-width: 1100px;
  margin:0 auto;
  padding: 5% 2%;
  background: url(../img/bg-letter-t.png) top center no-repeat,url(../img/bg-letter-b.png) bottom center no-repeat,#FAF9F6;
  background-size: contain;
  position: relative;
  box-shadow: 1px 1px 10px rgba(0,0,0,0.2);
  box-sizing: border-box;
}
.mainContent .sheet .bg{
  width: 100%;
  height:100%;
  background: url(../img/bg-sheet-tl.svg) top 1% left 1% no-repeat,url(../img/bg-sheet-tr.svg) top 1% right 1% no-repeat,url(../img/bg-sheet-bl.svg) bottom 1% left 1% no-repeat,url(../img/bg-sheet-br.svg) bottom 1% right 1% no-repeat;
  background-size: 5%;
  position: absolute;
  top:0;
  left: 0;
  box-sizing: border-box;
  z-index: 1;
}

/*
.mainContent .sheet::after{
  content:url(../img/img-pen.png);
  display: block;
  position: absolute;
  bottom:80px;
  right: 13%;
  transform: scale(0.8) translate(100%,80%);
  z-index: 3;
}
*/

.mainContent .sheet .inner{
  background: url(../img/bg-line-sp.png) top left repeat;
  position: relative;
  z-index: 2;
}
.mainContent .sheet .txt{
  margin-bottom:5%;
  line-height: 1.65;
  text-align: center;
}
.mainContent .sheet .txt span{
  position: relative;
  z-index: 1;
}
.mainContent .sheet .txt span::after{
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background: #F1E98D;
  position: absolute;
  bottom:0;
  left: 50%;
  transform: translate(-50%,0);
  z-index: -1;
}
.mainContent .sheet h4{
  margin-top:7.6%;
  text-align: center;
}
.mainContent .sheet h4 span{
  font-size: 140%;
  color:#416CB4;
}
.mainContent .sheet .btnWrap{
  display: flex;
  width: 90%;
  margin:3% auto 5.6%;
  justify-content: space-between;
}
.mainContent .sheet .btnWrap li{
  width: 31%;
}
.mainContent .sheet .btnWrap li a{
  display: block;
  padding:0 1% 2% 0;
  position: relative;
  box-shadow: 1px 1px 4px rgba(0,0,0,0.2);
}
.mainContent .sheet .btnWrap li.plan a{
  background: #416CB4;
}
.mainContent .sheet .btnWrap li.hensai a{
  background: #75ACD0;
}
.mainContent .sheet .btnWrap li.column a{
  background: #CE9A6D;
}
.mainContent .sheet .btnWrap li a::after{
  content: "";
  display: inline-block;
  width: 26%;
  height: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
}
.mainContent .sheet .btnWrap li.plan a::after{
  background: url(../img/btn-plan02.png) bottom right no-repeat;
  background-size: contain;
}
.mainContent .sheet .btnWrap li.hensai a::after{
  background: url(../img/btn-loan02.png) bottom right no-repeat;
  background-size: contain;
}
.mainContent .sheet .btnWrap li.column a::after{
  background: url(../img/btn-column02.png) bottom right no-repeat;
  background-size: contain;
}
.mainContent .sheet .btnWrap li a img{
  box-shadow: 1px 1px 2px rgba(0,0,0,0.6);
  transform: translate(-2%,0);
  transition: 0.4s;
  transform-origin: right bottom;   
}
.mainContent .sheet .btnWrap li a:hover img{
  transform: translate(-4%,-5%) rotate(0.5deg);
}
.mainContent .sheet .btnWrap li a:active img,
.mainContent .sheet .btnWrap li a:checked img{
  transform: translate(-4%,-10%) rotate(0.5deg);
  opacity: 0;
}


.senkoInfo .copy{
  margin:30px auto 0;
  text-align: center;
}
.senkoInfo .btnWrap{
  margin:20px auto 0;
}
.senkoInfo .btnWrap .btn a{
  display: block;
  max-width: 320px;
  margin:0 auto 0;
  padding: 15px 0;
  background:#416CB4;
  border:1px solid #416CB4;
  border-radius: 5rem;
  color: #fff;
  font-size: 1.8rem;
  line-height: 1.4;
  text-align: center;
  transition: 0.4s;
}
.senkoInfo .btnWrap .btn a span{
  display: block;
  font-size: 1.4rem;
  opacity: 0.9;
}
.senkoInfo .btnWrap .btn.back a{
  max-width: 180px;
  padding: 10px 0;
  margin:10px auto 0;
  border:1px solid #464646;
  background: none;
  font-size: 1.3rem;
  color: #464646;
}
.senkoInfo .btnWrap .btn a:hover{
  background:none;
  color:#416CB4;
}
.senkoInfo .btnWrap .btn.back a:hover{
  border:1px solid #464646;
  background:#464646;
  font-size: 1.3rem;
  color: #fff;
}



.bgBoxContent{
  max-width: 640px;
  margin:0 auto 0;
  padding: 3%;
  background: rgb(128,189,230);
  background: linear-gradient(135deg, rgba(230,242,250,1) 0%, rgba(209,209,228,1) 100%);
  border:5px solid #fff;
  box-sizing: border-box;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
}
.bgBoxContent h3{
  font-size: 2.8rem;
  color:#232121;
  font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  text-align: center;
}




.planWrap{
  margin-top:3%;
  padding: 5%;
  background: #fff;
  box-sizing: border-box;
}
.planWrap .spec{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  box-sizing: border-box;
}
.planWrap .spec .type{
  width: 20%;
  padding-top:10px;
  background: #416CB4;
  font-size: 3.6rem;
  line-height: 1;
  color:#fff;
  text-align: center;
}
.planWrap .spec .type span:first-of-type{
  display: block;
  padding:3% 0;
  vertical-align: middle;
}
.planWrap .spec .type span:last-of-type{
  display: block;
  width: 100%;
  margin-top:5%;
  padding:3% 0;
  background: #80BDE6;
  font-size: 1.4rem;  
}
.planWrap .spec .madori{
  width: 80%;
  padding:3% 0;
}
.planWrap .spec .madori .ldk{
  margin-bottom:2%;
  padding-left:5%;
  padding-bottom:1%;
  border-bottom:1px solid #416CB4;
  font-size: 2.8rem;
}
.planWrap .spec .madori .ldk span{
  font-size: 80%;  
}
.planWrap .spec .madori .menseki{
  padding-left:5%;
  font-size: 2.8rem;  
  display:inline-flex;
  align-items: center;
}
.planWrap .spec .madori .menseki span{
  padding-right:3%;
  font-size: 1.2rem;
  line-height: 1;
  word-break: keep-all;
}
.planWrap .detail{
  margin-top:3%;
}
.planWrap .anotherPlan{
  margin-top:5%;
  font-size: 1.6rem;
  text-align: center;
}
.planWrap .anotherPlan ul{
  margin-top:5%;
}
.planWrap .anotherPlan .info{
  margin-top:5%;
  padding: 3%;
  background:#ECECEC;
  font-size: 1.6rem;
}



/* ---------------------------------------------------------------------------

.boxColumn

--------------------------------------------------------------------------- */
.boxContent{
  padding-top:5%;
}
.boxContent h3{
  font-size: 2.8rem;
  color:#232121;
  text-align: center;
  font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
}
.boxContent .bnr{
  max-width: 420px;
  margin:30px auto 0;
}



/* ---------------------------------------------------------------------------

footer

--------------------------------------------------------------------------- */
footer{
  padding:0 0 20px;
  background: #fff;
}
footer .inner{
  padding:3% 0;
  background: url(../img/bg-stripe.jpg)top left repeat;
  background-size: 5px;
}
footer .inner .btnWrap{
  display: flex;
  max-width: 480px;
  margin:0 auto 1.5%;
  justify-content: space-between;
}
footer .inner .btnWrap .btn{
  width: 49%;
  max-width: 320px;
}
footer .inner .btnWrap .btn a{
  display: block;
  padding:15px 0;
  color:#fff;
  border-radius: 1rem;
  text-align: center;
  transition: 0.4s;
}
footer .inner .btnWrap .btn a:hover{
  opacity: 0.7;
}
footer .inner .btnWrap .btn.res a{
  background: #c53e3e;
}
footer .inner .btnWrap .btn.map a{
  background: #615f5f;
}

footer .inner .txt{
  font-size: 1.6rem;
  font-weight: 700;
  text-align: center;
}
footer .inner .btnMember a{
  display: block;
  width: 80%;
  max-width: 320px;
  margin:10px auto 0;
  padding:15px 0;
  background: #416CB4;
  border-radius: 1rem;
  color:#fff;
  text-align: center;
  transition: 0.4s;
}
footer .inner .btnMember a:hover{
  opacity: 0.7;
}
footer .privacy{
  margin-top:40px;
  text-align: center;
}
footer .logoCompany{
  max-width: 280px;
  margin:30px auto 0;
}
footer .copyright{
  margin:30px auto 0;
  font-size: 0.8rem;
  line-height: 1.3;
  text-align: center;
}


@media screen and (max-width:768px) {
/* ---------------------------------------------------------------------------

.Main

--------------------------------------------------------------------------- */
.Main{
  height:auto;
  padding:40% 0;
  background: url(../img/img-main-sp.jpg) center center no-repeat;
  background-size: cover;
}
.Column .Main{
  height:auto;
  padding:35% 0;
}
.Main .logo{
  max-width: 140px;
}
.Main .ttlWrap{
  width: 90%;
  padding:7% 0 9%;
  background: url(../img/img-main-letter.png) center top no-repeat;
  background-size: cover;
  top:50%;
  left:50%;
  transform: translate(-50%,-100%);
  animation: slideIn 1.5s ease-in-out 1s forwards;
}
@keyframes slideIn {
0% {transform: translate(-50%,-100%);}
100% {transform: translate(-50%,-50%);}
}

.Column .Main .ttlWrap {
    max-width: 280px;
    padding: 5% 0;
}

.Main .ttlWrap::after{
  width: 80px;
  height: 148px;
  background: url(../img/img-main-hand.png) right top no-repeat;
  background-size: cover;
  top: -110px;
  right: 0;
  transform: translateX(50%);
}
.Main .ttlWrap .mainName{
  font-size: 1.8rem;
  line-height: 1;
  text-align: center;
}
.Main .ttlWrap .mainName::after {
  content:"";
  width: 100%;
  max-width: 80px;
  height:4px;
  background:url(../img/icon-main-name.svg) center center no-repeat;
  background-size: cover;
  margin:0 auto;
  display: block;
  position: absolute;
  bottom:-10px;
  left:50%;
  transform: translateX(-50%);
}
.Main .ttlWrap .mainTitle{
  width: 80%;
  margin:8% auto 0;
}
.Main .ttlWrap .mainTitle::after{
  width: 24px;
  position: absolute;
  bottom:0;
  right: 0;
  transform: translate(100%,-5%);
}
.Main .pen{
  width: 200px;
  position: absolute;
  top:-10%;
  left:50%;
  transform: translateX(-240%);
}
.Main .envelope{
  width: 30%;
  position: absolute;
  bottom:-15%;
  right:-15%;
  transform: translateX(-15%);
}
.Column .Main .ttlWrap .mainTitle{
  width: 70%;
}
.Column .Main .envelope {
    width: 30%;
    bottom: -10%;
}



/* ---------------------------------------------------------------------------

.mainContent

--------------------------------------------------------------------------- */
.mainContent{
  width: 95%;
  margin:10% auto;
  padding-bottom:0;
  background: none;
}

.mainContent .sheet{
  width: 100%;
  padding: 15% 5%;
}
.mainContent .sheet::after{
  bottom:10px;
  right: 13%;
  transform: scale(0.8) translate(100%,80%);
}
.mainContent .sheet .txt{
  line-height: 1.9;
}
.mainContent .sheet h4{
  margin-top:9%;
  text-align: center;
}
.mainContent .sheet .btnWrap{
  display: block;
  margin:3% auto 11%;
}
.mainContent .sheet .btnWrap li{
  width: 100%;
  margin-bottom:5%;
}
.mainContent .sheet .btnWrap li a{
  padding:0 1% 1% 0;
}
.mainContent .sheet .btnWrap li a::after{
  width: 22%;
  height: 100%;
}
.mainContent .sheet .btnWrap li a img{
  box-shadow: 1px 1px 2px rgba(0,0,0,0.6);
  transform: translate(-2%,0);
}
    
    
    
.bgBoxContent{
  width: 100%;
  padding: 6% 3% 3%;
  border:3px solid #fff;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
}
.bgBoxContent h3{
  font-size: 2.4rem;
}
    
    

.planWrap{
  margin-top:3%;
  padding: 5%;
}
.planWrap .spec .type{
  width: 20%;
  background: #416CB4;
  font-size: 10.2vw;
  line-height: 1;
}
.planWrap .spec .type span:first-of-type{
  padding:3% 20%;
}
.planWrap .spec .type span:last-of-type{
  width: 100%;
  margin-top:5%;
  padding:3% 0;
  font-size: 1.2rem;  
}
.planWrap .spec .madori{
  width: 80%;
  padding:3% 0;
}
.planWrap .spec .madori .ldk{
  margin-bottom:2%;
  padding-left:5%;
  padding-bottom:1%;
  font-size: 2.4rem;
}
.planWrap .spec .madori .ldk span{
  font-size: 80%;  
}
.planWrap .spec .madori .menseki{
  padding-left:5%;
  font-size: 2.4rem;  
}
.planWrap .spec .madori .menseki span{
  padding-right:1%;
  font-size: 1.2rem;
  line-height: 1;
}
.planWrap .detail{
  margin-top:3%;
}
.planWrap .anotherPlan{
  margin-top:5%;
  font-size: 1.3rem;
}
.planWrap .anotherPlan ul{
  margin-top:5%;
}
.planWrap .anotherPlan .info{
  margin-top:5%;
  padding: 3%;
  font-size: 1.3rem;
}
.planWrap .anotherPlan .btn a{
  margin-top:7%;
  padding: 7% 0;
  font-size: 1.4rem;
  line-height: 1.4;
}
.planWrap .js-modal-close{
  width: 50%;
  margin:3% auto 0;
  padding: 2% 0;
  font-size: 1.2rem;
}
    
    

/* ---------------------------------------------------------------------------

.boxColumn

--------------------------------------------------------------------------- */
.boxColumn{
  padding-top:5%;
}
.boxColumn h3{
  font-size: 2.0rem;
}
.boxColumn .bnr{
  margin-top:7%;
}
.boxColumn .btn a{
  width: 90%;
  margin:20px auto 0;
  padding: 15px 0;
  font-size: 1.4rem;
  line-height: 1.4;
}




/* ---------------------------------------------------------------------------

footer

--------------------------------------------------------------------------- */
footer{
  padding-bottom:30%;
}
footer .inner{
  padding:7% 0;
  background: url(../img/bg-stripe.jpg)top left repeat;
  background-size: 1%;
}
footer .inner .btnWrap{
  display: block;
  width: 80%;
  margin:0 auto 7%;
}
footer .inner .btnWrap .btn{
  width: 100%;
  max-width: 100%;
}
footer .inner .btnWrap .btn:last-of-type{
  margin-top:4%;
}
footer .inner .btnWrap .btn a{
  padding:4% 0;
  border-radius: 1rem;
}
footer .inner .txt{
  font-size: 1.6rem;
}
footer .inner .btnMember a{
  width: 80%;
  margin:3% auto 0;
  padding:4% 0;
}
footer .privacy{
  margin-top:7%;
}
footer .logoCompany{
  width: 50%;
  margin:5% auto 0;
}
footer .copyright{
  margin:10% auto 0;
}

}



/* ---------------------------------------------------------------------------

 crm--footFixNav

--------------------------------------------------------------------------- */
.crm--footFixNav{
display: none;
}

@media screen and (max-width:768px) {
.crm--footFixNav{
  display: block;
  width: 100%;
  position: fixed;
  bottom:0;
  z-index: 99999;
  background: rgba(255,255,255,1);
}
.crm--footFixNav .footFixNavWrap{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top:1px solid #252e73;
}
.crm--footFixNav .footFixNavWrap .nav{
  padding:3%;
  box-sizing: border-box;
  border-right:1px solid #252e73;
  text-align: center;
  flex-grow: 1;
}
.crm--footFixNav .footFixNavWrap .nav img{
  width:auto;
  max-height: 40px
}
.crm--footFixNav .footFixNavWrap .nav:last-of-type{
  border-right:none;
}
}