@charset "utf-8";

@media only screen and (max-width:1280px) {}
@media only screen and (max-width:768px) {}
@media only screen and (max-width:480px) {}





/*---------------------------------------------------------------

 commonKeyvisual

--------------------------------------------------------------- */
.commonKeyvisual .imagearea {
  background-image: url(../images/column05/kv.jpg);
}

.commonKeyvisual .imagearea::after{
  background: none;
}


/*---------------------------------------------------------------

 modalSlideAera

--------------------------------------------------------------- */
.commonSection .modalSlideAera {
	position: relative;
}
.commonSection .thumbnails ul {
	display: flex;
	flex-wrap: wrap;
}
.commonSection .thumbnails li {
	/* width: calc(20% - 2px); */
	width: calc(16.6667% - 2px);
	margin: 2px 1px 0;
	background-color: #000;
	cursor: pointer;
}
.commonSection .thumbnails li img {
	transition: opacity 0.3s;
	opacity: 0.4;
}
.commonSection .thumbnails li.slick-active img,
.commonSection .thumbnails li:hover img {
	opacity: 1;
}
.commonSection .modalSlideAera .slick-arrow {
	overflow: hidden;
	position: absolute;
	top: 50%;
	width: 40px;
	height: 200px;
	margin: 0;
	padding: 0;
	border: none;
	border-radius: 0;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	transform: translateY(-50%);
	background-color: rgba(59,59,65,0.9);
	cursor: pointer;
	text-indent: -9999px;
	z-index: 5;
}
.commonSection .modalSlideAera .slick-arrow:before {
	position: absolute;
	top: 50%;
	left: 50%;
	display: block;
	content: '';
	width: 10px;
	height: 10px;
	transform: rotate(45deg);
	margin-top: -5px;
}
.commonSection .modalSlideAera .slick-prev {
	left: 0;
}
.commonSection .modalSlideAera .slick-next {
	right: 0;
}

.commonSection .modalSlideAera .slick-prev:before {
	margin-left: -2px;
	border-left: #fff solid 1px;
	border-bottom: #fff solid 1px;
}
.commonSection .modalSlideAera .slick-next:before {
	margin-left: -8px;
	border-right: #fff solid 1px;
	border-top: #fff solid 1px;
}
@media only screen and (max-width:768px) {
	.commonSection .modalSlideAera .slick-arrow {
		width: 20px;
		height: 80px;
	}
}
@media only screen and (max-width:768px) {
.commonWrapper{
 padding: 0;
}
}

section{
	padding-bottom: 40px;
}

 h5{
	font-size: 24px;
	margin: 30px 0 20px;
	display: flex;
  align-items: center; /* 垂直中心 */
}


#freeContentsArea{
	background-color: #FFF;
	color: #000;
}

.intro,.cont01{
  max-width: 630px;
  margin: 0 auto 40px;
  text-align: center;
}

.intro{
  position: relative;
  padding-bottom: 10%;
}


.intro:after{
  content: "";
  position: absolute;
  width: 1px;
  height: 100px;
  background: #999;
  bottom: 0;
  left: 49%;

}

.intro h2{
  width: 500px;
  margin: 0 auto 15px;
}
.intro h4{
  font-size: 47px;
  margin: 0 auto 10px;
  text-shadow: 4px 6px 6px rgba(0, 0, 0, 0.3);
}
.intro p{
  line-height: 2;
}
.cont01.c02{
  max-width: 768px;
  margin: 0 auto 60px;
}
.cont01 figure{
  margin-bottom: 80px;
}

@media only screen and (max-width:768px) {
  .intro,.cont01{
    margin: 0 auto 20px;
  }
  .cont01{
    padding: 0 10px;
  }

  .intro{
    position: relative;
    padding-bottom: 19%;
  }


  .intro:after{
    content: "";
    position: absolute;
    width: 1px;
    height: 50px;
    background: #999;
    bottom: 0;
    left: 49%;

  }

  .intro h2{
    width: 300px;
    margin: 0 auto 15px;
  }
  .intro h4{
    font-size: 24px;
    margin: 0 auto 10px;
    letter-spacing: 0;
  }
  .intro p{
    font-size: 14px;
    line-height: 1.6;
  }
  .cont01.c02{
    margin: 0 auto 40px;
  }
  .cont01 figure{
    margin-bottom: 50px;
  }
}
