.body-area {
	margin-top:20px !important;
}

.modal-dialog {
  .alert-explain,
  .alert-error,
  .alert-complete {
    margin-top:5px !important;
    margin-bottom:10px !important;
  }
  .modal-footer {
    padding-top:5px !important;
    margin-top: 40px !important;
  }
}