@charset "utf-8";

/* ============================================================ 
ver.2020.04.01

//フッター
480px以下で表示でスマホ表示に切り替え
=============================================================== */




/*---------------------------------------------------------------

crm--footerContacts

--------------------------------------------------------------- */
.crm--footerContacts {
  background-color: #3b3b41;
}


/* footerNav
-------------------------------- */
.crm--footerContacts .footerNav {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  line-height: 1.4;
}
.crm--footerContacts .footerNav li {
  padding: 2px 20px;
}
.crm--footerContacts .footerNav li + li {
  border-left: rgba(255,255,255,0.15) solid 1px;
}
.crm--footerContacts .footerNav li a {
  display: block;
  color: #fff;
  font-size: 12px;
  text-decoration: none;
}
.crm--footerContacts .footerNav li .off {
  opacity: 0.2;
  pointer-events: none;
}
@media screen and (max-width:1280px) {
  .crm--footerContacts .footerNav {
    display: none;
  }
}


/* contacts
-------------------------------- */
.crm--footerContacts .contacts {
  padding: 40px 10px;
  color: #fff;
  text-align: center;
  border-top: #fff solid 1px;
}
.crm--footerContacts .contacts .flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align:left;
}
.crm--footerContacts .contacts .flex > * {
  padding: 5px 15px;
}
.crm--footerContacts .contacts .txt {
  font-size: 14px;
}
.crm--footerContacts .contacts .tel {
  font-size: 30px;
  line-height: 1;
}
.crm--footerContacts .contacts .tel a {
  display: inline-block;
  padding-left: 50px;
  background: url(../images/ico_freetel.svg) no-repeat left center;
  color: #fff;
}
.crm--footerContacts .contacts .info {
  font-size: 14px;
}
.crm--footerContacts .contacts .telBtn {
  display: none;
}
@media screen and (max-width:768px) {
  .crm--footerContacts .contacts {
    padding: 35px 0;
  }
  .crm--footerContacts .contacts .flex {
    display: block;
    text-align: center;
  }
  .crm--footerContacts .contacts .flex > * {
    padding: 0;
  }
  .crm--footerContacts .contacts .txt {
    margin-bottom: 10px;
    font-size: 14px;
  }
  .crm--footerContacts .contacts .tel {
    margin-bottom: 15px;
  }
  .crm--footerContacts .contacts .info {
    font-size: 12px;
  }
  .crm--footerContacts .contacts .telBtn {
    display: block;
    max-width: 90%;
    margin: 25px auto 0;
  }
  .crm--footerContacts .contacts .telBtn a {
    display: block;
    padding: 15px 0;
    color: #fff;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    background-color: #008ca5;
  }
  .crm--footerContacts .contacts .telBtn span {
    display: inline-block;
    padding-left: 30px;
    background: url(../images/ico_tel.png) no-repeat left center / 17px auto;
  }
}



/*---------------------------------------------------------------

crm--footer

--------------------------------------------------------------- */
.crm--footer {
  padding: 50px 10px;
}
.crm--footer .flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1350px;
  margin: 0 auto;
}
.crm--footer .logos {
  display: flex;
  align-items: center;
}
.crm--footer .logos li + li {
  margin-left: 40px;
}
.crm--footer .logos a {
  display: block;
  color: #000;
  font-size: 12px;
  text-decoration: none;
}
.crm--footer .logos span {
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
}
.crm--footer .logos .txt {
  margin-right: 10px;
}
.crm--footer .copyright {
  font-size: 10px;
}
@media screen and (max-width:960px) {
  .crm--footer .flex {
    display: block;
  }
  .crm--footer .logos {
    margin-bottom: 30px;
    justify-content: center;
  }
  .crm--footer .copyright {
    text-align: center;
  }
}
@media screen and (max-width:768px) {
  .crm--footer {
    padding: 40px 0 0;
  }
  .crm--footer .logos {
    display: table;
    margin: 0 auto 30px;
    text-align: center;
  }
  .crm--footer .logos li + li {
    margin: 20px 0 0;
  }
  .crm--footer .logos a {
    font-size: 11px;
  }
  .crm--footer .logos .img01 {
    width: 160px;
  }
  .crm--footer .logos .img02 {
    width: 140px;
  }
}





/* ---------------------------------------------------------------------------

scroll pageTop

--------------------------------------------------------------------------- */
.crm--pageTop {
  display: none;
  position: fixed;
  right: 10px;
  bottom: 10px;
  font-size: 10px;
  text-align: center;
  line-height: 1.2;
  z-index: 999;
  opacity: 0.8;
  transition: transform 0.2s;
  transform: translateY(100px);
}
.crm--pageTop a {
  position: relative;
  display: block;
  width: 60px;
  height: 60px;
  padding-top: 25px;
  color: #fff;
  background: #222;
  box-sizing: border-box;
  text-decoration: none;
  transition: opacity 0.2s;
}
.crm--pageTop a:before {
  position: absolute;
  top: 10px;
  left: 0;
  display: block;
  content: '';
  width: 100%;
  height: 11px;
  background: url(../images/icon-arrow-pagetop.svg) no-repeat center center / contain;
}
.crm--pageTop a:hover {
  opacity: 0.7;
}
.crm--pageTop.on {
  transform: translateY(0);
}
@media screen and (max-width:480px) {
  .crm--pageTop {
    transform: translateY(120px);
  }
  .crm--pageTop.on {
    transform: translateY(-70px);
  }
}