@charset "utf-8";

@media only screen and (max-width:1280px) {}
@media only screen and (max-width:768px) {}
@media only screen and (max-width:480px) {}

/*---------------------------------------------------------------

 commonKeyvisual

--------------------------------------------------------------- */
.commonKeyvisual .imagearea {
  background-image: url(../images/kv.jpg);
}


.outlineWrap #frame {
  display: block;
  height: 1900px;
}
@media only screen and (max-width:520px) {
  .outlineWrap #frame {
    max-width: 340px;
    height: 3360px;
    margin: 0 auto;
  }
}
